@model BookReading.Event.Models.LoginViewModel

@{ ViewData["Title"] = "Login"; }
<h1 class="text-info fw-bold">Login</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group my-2">
                <label asp-for="UserName" class="control-label fw-bold"></label>
                <input asp-for="UserName" class="form-control input-sm" placeholder="Username..." />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Password" class="control-label fw-bold"></label>
                <input asp-for="Password" class="form-control input-sm" placeholder="Password..." />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <input type="submit" value="Login" class="btn btn-info btn-block" />
            </div>
        </form>
        <div>
            <p class="text-dark fw-bold"> Click <a asp-controller="Account" asp-action="SignUp">here</a> to Sign Up</p>
        </div>

    </div>
</div>


