@model BookReading.Event.Models.CommentViewModel

@{
    ViewData["Title"] = "EditComment";
}

<h1>EditComment</h1>

<h4>CommentViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditComment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="EventId" class="control-label"></label>
                <input asp-for="EventId" class="form-control" />
                <span asp-validation-for="EventId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="timeStamp" class="control-label"></label>
                <input asp-for="timeStamp" class="form-control" />
                <span asp-validation-for="timeStamp" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

