@model BookReading.Event.Models.CommentViewModel

@{
    ViewData["Title"] = "ViewComment";
}

<h1>ViewComment</h1>

<div>
    <hr />
    <dl class="row">

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.timeStamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.timeStamp)
        </dd>*@
    </dl>
</div>
